.imagen{
    width:250px;
     height:250px;
    padding: 20px;
    border-radius :40%;
    margin:0 auto;
    display:block; 
}
.perfil{
    padding-left: 360px;
    margin-left: 280px;
    border-radius :10%;
       
}
.header{
    height: 287px;
    padding-bottom: 20px;
    margin-bottom: 130px;
   
}

#informacion{
	
    background-color: #893d8b48;
    height: auto;
    padding: 20px;
    margin-top: 42px;
    border-radius:42px;
}
#biografia{
    background-color:darkorange;
}
.usuario{
	margin-bottom:68px;
}
.cuerpo{
    background-color: #E8869A;
}


.biografia{
    padding: 20px;
    height: auto;
    margin-top:30px;
    border-radius:45px;
    margin-bottom:75px;
    background-color: #D1E7F6;
    
}
.context .jcorgFilterTextParent h3 {
  margin-top: 0;
}

.context .jcorgFilterTextParent {
  padding: 10px 0;
}

.context .jcorgFilterTextParent:not(:last-child) {
  border-bottom: 1px dashed #bdc3c7;
}
header{
	height:141px;
	
}
.sinopsis{
	background-color: #F0CEED;
	border-radius:25px;
	margin-bottom:25px ;
}
.valoracion{
	margin-bottom:65px ;
	background-color:#EDD0DA ;
	border-radius:25px;
}
.libro{
	padding-bottom: 20px;
	height: 287px;
}

